{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="gcromo-budget">
    {% embed '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with { grid: grid } %}
      {% block grid_panel_header %}
        <div class="card-header d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <h3 class="card-header-title mb-0">{{ 'Budget manager'|trans({}, 'Modules.Gcromo.Admin') }}</h3>
            <span class="badge badge-secondary ml-2">{{ grid.data.records_total }}</span>
          </div>
          <div class="d-flex align-items-center">
            {{ include('@PrestaShop/Admin/Common/Grid/Blocks/grid_actions.html.twig', { grid: grid }) }}
            <a class="btn btn-primary ml-2" href="{{ path('admin_gcromo_budget_create') }}">
              <i class="material-icons">add</i>
              {{ 'New budget'|trans({}, 'Modules.Gcromo.Admin') }}
            </a>
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
{% endblock %}
